/components
images
/imputed
**/.RData
**/.Rlibs
**/.Rhistory
*~
/node_modules/
/output/
/.tern-port
**/.cookies.txt
**/test.config.json
**/config.json
.tern-port
log/*.log
tests/testthat/evenmorefiles/D08/91/E/SERFAS_CLUB/images/
coverage
doc
